[Unit]
Description=Teamspeak 3 Server

[Service]
User={{service_user}}
Group={{service_user}}
ExecStart=/bin/bash /home/{{service_user}}/ts/ts3server_startscript.sh start
ExecStop=/bin/bash /home/{{service_user}}/ts/ts3server_startscript.sh stop
PIDFile=/home/{{service_user}}/ts/ts3server.pid
Type=forking
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target